:root {
	--grey: oklch(80% 3% 200);
	--white: #ffffff;
	--tortilla: #9a7b4f;
	--tan: #d2b48c;
	--mocha: #3c280d;
	--maroon: #800000;
	--color-accent: oklch(from var(--maroon) 100% 50% h);
}

html{
	color-scheme: dark;
}

body {
	/* Set line height to 1.5 times the font size
	and use the OS’s UI font as the website font
	 */
	font: 100%/1.5 system-ui;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	max-width: 85em;

	margin-inline: max(1em, (100% - 100ch) / 2);

	background-color: var(--tan);
}

/* ========================================================= */
/* Navbar */
nav {
	display: flex;
}

/* Navbar links */
nav a{
	flex: 1;

	text-decoration: none;
	color: inherit; /* Uses the same color as its parent */
	text-align: center;

	padding: 0.5em;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--tortilla);
}

a.current {
	padding-bottom: -5px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: var(--mocha);
}

a:hover {
	padding-bottom: -5px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: var(--maroon);

	background-color: var(--color-accent);
}